<div class="card hoverable">
   <div class="card-content">
   <P class="grey-test right">Posted at: <%= @post.updated_at %> </p>
    <h5>
        <%= @post.title %>
    </h5>
    <p class="grey-test text-darken-2">
        <%= @post.description %>
    </p>
    <%= link to: Routes.page_path(@conn, :index), class: "btn-floating left waves-effect" do %>
        <i class="material-icons">chevron_left</i>
        <% end %>
   </div>
</div>


